#contact-section {
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
}

label,
input,
textarea {
  margin: 10px 0;
  width: 100%;
}

.sub {
  background-color: rgb(30, 164, 30)
}

.sub:hover {
  transition: transform .2s ease;
  transform: scale(1.1);
  cursor: pointer;
}

body {
  background-color: rgb(253, 220, 225);
}